CompileFlags:
    CompilationDatabase: ../build
    Add:
        - --target=x86_64-pc-wos
        - -DWOS=1
        - -D__x86_64__=1
        - -I../modules/defines
        - -I../modules/extern
    Remove:
        - -w-reloc-rel-dword
        - -w-reloc-abs-qword
        - -fsanitize=safe-stack
        - -felf64
        - -fPIE
        - -pie
        - -resource-dir=/usr/lib/clang/22
