CompileFlags:
    CompilationDatabase: ../build
    Add:
        - --target=x86_64-pc-wos
        - -DWOS=1
        - -D__x86_64__=1
        - -resource-dir=toolchain/target1/lib/clang/21
        - --sysroot=toolchain/target1
        - -I../toolchain/target1/include/c++/v1
        - -I../toolchain/target1/include
        - -I../modules/defines
        - -I../modules/extern
        - -std=c++23
    Remove:
        - -w-reloc-rel-dword
        - -w-reloc-abs-qword
        - -fsanitize=safe-stack
        - -felf64
        - -fPIE
        - -pie
        - -resource-dir=/usr/lib/clang/21
Diagnostics:
    ClangTidy:
        Remove:
            - performance-no-int-to-ptr
            - readability-function-cognitive-complexity
            - cppcoreguidelines-pro-bounds-constant-array-index
            - misc-non-private-member-variables-in-classes
