If:
    PathMatch: ".*"
    PathExclude: ".*(build|toolchain).*"
CompileFlags:
    CompilationDatabase: .
    Add:
        - --target=x86_64-pc-wos
        - -DWOS=1
        - -D__x86_64__=1
        - -resource-dir=toolchain/target1/lib/clang/21
        - --sysroot=toolchain/target1
        - -I../toolchain/target1/include/c++/v1
        - -I../toolchain/target1/include
        - -I../modules/defines
        - -I../modules/extern
    Remove:
        - -w-reloc-rel-dword
        - -w-reloc-abs-qword
        - -f
        - -fsanitize=safe-stack
        - -felf64
        - -fPIE
        - -pie
        - -resource-dir=/usr/lib/clang/20

Diagnostics:
    ClangTidy:
        Add:
            - "bugprone-*"
            - "readability-*"
            - "performance-*"
            - "misc-*"
            - "modernize-*"
            - "cppcoreguidelines-*"
        Remove:
            - readability-identifier-length
            - cppcoreguidelines-pro-type-reinterpret-cast
            - cppcoreguidelines-owning-memory
            - cppcoreguidelines-pro-bounds-pointer-arithmetic
            - cppcoreguidelines-avoid-non-const-global-variables
            - cppcoreguidelines-pro-type-cstyle-cast
            - bugprone-easily-swappable-parameters
            - bugprone-reserved-identifier

    Includes:
        IgnoreHeader: ".*toolchain/target1/.*"
    UnusedIncludes: Strict
    MissingIncludes: Strict

Index:
    Background: Build

InlayHints:
    Enabled: true
    ParameterNames: true
    DeducedTypes: true

Hover:
    ShowAKA: true
