# build artifacts
**/bin
**/obj
**/CMakeFiles
# libc
**/musl
#kernel images
disk.qcow2
#log files
**/*.log
**/extern/clang/*

#tool binaries
resolve_addresses

#clang dir
**/extern/clang/*

#build directory
llvm-build
build
