[submodule "modules/extern/limine"]
	path = modules/extern/limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "tools/llvm-project"]
	path = tools/llvm-project
	url = https://github.com/llvm/llvm-project.git
