# build artifacts
**/bin
**/obj
**/CMakeFiles
#qcow images
*.qcow2
#log files
**/*.log
**/extern/clang/*

#tool binaries
**/tools/bin/*

#clang dir
**/extern/clang/*

#build directory
llvm-build
libcxx-build
build

#ccache
.cache

#python cache
**/__pycache__

#core dumps
coredumps

#cluster data (persistent SSH keys, etc.)
cluster-data
