[submodule "modules/extern/limine"]
	path = modules/extern/limine
	url = https://github.com/limine-bootloader/limine.git
[submodule "toolchain/src/llvm-project"]
	path = toolchain/src/llvm-project
	url = https://github.com/Pascu-Victor/llvm-project.git
[submodule "toolchain/src/mlibc"]
	path = toolchain/src/mlibc
	url = https://github.com/Pascu-Victor/mlibc.git
[submodule "toolchain/src/dropbear"]
	path = toolchain/src/dropbear
	url = https://github.com/Pascu-Victor/dropbear.git
[submodule "toolchain/src/busybox"]
	path = toolchain/src/busybox
	url = https://github.com/Pascu-Victor/busybox.git
[submodule "tools/wireshark/WireMCP"]
	path = tools/wireshark/WireMCP
	url = https://github.com/0xKoda/WireMCP.git
[submodule "toolchain/src/cmake"]
	path = toolchain/src/cmake
	url = https://github.com/Pascu-Victor/CMake.git
	branch = wos-support
[submodule "toolchain/src/ninja"]
	path = toolchain/src/ninja
	url = https://github.com/Pascu-Victor/ninja.git
[submodule "toolchain/src/python"]
	path = toolchain/src/python
	url = https://github.com/Pascu-Victor/cpython.git
	branch = wos-support
[submodule "toolchain/src/nasm"]
	path = toolchain/src/nasm
	url = https://github.com/Pascu-Victor/nasm.git
	branch = wos-support
