# build artifacts
**/bin
**/obj
**/CMakeFiles
#kernel images
disk.qcow2
#log files
**/*.log
**/extern/clang/*

#tool binaries
**/tools/bin/*

#clang dir
**/extern/clang/*

#build directory
llvm-build
libcxx-build
build

#toolchain build directory
toolchain

#ccache
.cache
